rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Helper function to check if the user is the admin by their unique ID (UID)
    function isAdmin() {
      // The UID for the admin account dandurajkumarworld24@gmail.com
      return request.auth != null && request.auth.uid == '8dbJ55nXdEXaOrlV4XosUMO';
    }

    // Rules for all other files/folders (e.g., stories)
    match /{path}/{allPaths=**} {
      // Allow anyone to read images
      allow read;
      // Only allow the admin to write (create, update, delete)
      allow write: if isAdmin();
    }
  }
}
